<a href="https://colab.research.google.com/github/mazette04/OOP_58001/blob/main/List%2C_Tuples%2C_and_Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#range() function

for x in range(6):
  print(x)

0
1
2
3
4
5

In [2]:
for x in range(2,6):
  print(x)

2
3
4
5

In [4]:
for x in range(2,7,2):
  print(x)

2
4
6

Functions

In [14]:
class Shapes:
  def __init__(self,side):
    self.side= side
  def arearec(self):
    return self.length * self.width
  def areasqr(self):
    return self.side**2

square = Shapes(5)

square.areasqr()

25

In [ ]:
#Create your own function that will show your fullname and age
#Use Person as class name

In [8]:
pow(10,2)
array = ["apple","banana","orange"]
array.insert(0,"cherry")
print(array)

['cherry', 'apple', 'banana', 'orange']

List

In [19]:
pi= 3.14159
varList = ['abc',1,'def',2]
print(varList[0])

varList.append('ghi')
print(varList)
varList.remove(2)
print(varList)
varList.insert(3,3)
print(varList)

abc
['abc', 1, 'def', 2, 'ghi']
['abc', 1, 'def', 'ghi']
['abc', 1, 'def', 3, 'ghi']

Dictionaries

In [22]:
students = {
            1:"ana",
            2:"billy",
            3:"maria",
            4: "joy",
            3: "bessy"
}
print(students)

{1: 'ana', 2: 'billy', 3: 'bessy', 4: 'joy'}