<a href="https://colab.research.google.com/github/mazette04/OOP_58001/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

for loop

In [1]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

break statement

In [11]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  if x == "Thursday":      
    print(x)       #It only displays Thursday
    break

Thursday

In [10]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  if x == "Thursday":
    break
  print(x)         #It displays from Sunday to Wednesday

Sunday
Monday
Tuesday
Wednesday

In [ ]:
#To display only Tuesday and Wednesday using break statement

Looping through a string

In [12]:
for x in "week":
  print(x)

w
e
e
k

Nested Loop

In [14]:
adjective = ['red', 'big','tasty']
fruits = ['apple','banana','cherry']
for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

while loop

In [16]:
i = 1
while i<=6:
  print(i)
  i+=1

1
2
3
4
5
6

In [17]:
#using break statement
i = 1
while i<6:
  print(i)
  if i == 3:
    break
  i+=1

1
2
3

In [18]:
i = 1
while i<6:
  if i ==3:
    print (i)      #print only 3
    break
  i+=1

3